@charset "UTF-8";
/* CSS Document */
body, dl, dd, h1, h2, h3, h4, h5, h6, p, form { margin:0;}
ol,ul {margin:0; padding:0;}
h1, h2, h3, h4, h5, h6 { font-weight: normal;}
html { font-size: 14px; color: #666; height:100%;}
button{font-family:"Helvetica Neue","Microsoft Yahei",Helvetica,Arial,sans-serif;	}

li { list-style: none;  vertical-align:top;}
a { text-decoration: none;cursor:pointer;}
a:hover{ text-decoration: none; cursor:pointer;}
a:focus{outline:none;}
input { outline: none; background:none;}
img { border: 0 none;}
b{ font-weight:normal;}
i{ font-style:normal;}
*:focus {outline: none;}

/*register-box*/
.register-box{ 
width:318px; padding:30px;
}