  
  <form [formGroup]="rglastForm">
    <h2>注册畅捷通帐号</h2>
    <p class="fz12" id="subtitle">一号直达好会计 · 工作圈 · 易代账 · 好生意 · T+ · 客户管家</p>
    
    <div class="group-input">
      <span class="input-icon input-phone"></span>
      <input type="text" class="input-style" id="mobile" value="{{mobile}}"  disabled>
     
    </div>
    
     <div class="ma-j " ><span></span></div>
    
    <div class="group-input gp-control">
      <span class="input-icon input-code"></span>
      <input type="text" class="input-style" maxlength="8"  formControlName="codeSMS" >
      <button class="btn-code link-color" (click)="getCode()" >{{btnTitle}}</button>
      <label class="placeholder-sty" ></label>
    </div>
     <div  class="ma-j erro-box">
       <control-messages [control]="rgstartForm.controls.codeSMS" ></control-messages>
    </div>

   
    <div class="group-input  gp-control">
      <span class="input-icon input-password"></span>
      <input type="password" class="input-style" id="passwordInput" maxlength="20" formControlName="pwd" >
      <label class="placeholder-sty" ></label>
    </div>
    <div  class="ma-j erro-box">
       <control-messages [control]="rgstartForm.controls.pwd" ></control-messages>
    </div>
  
    
    <div class="btn-box">
      <button class="btn-register btn-disabled" id="registerBtn"  disabled >注册帐号</button>
    </div>
    </form>